header { 
    border-bottom: 1px solid black;
    border-bottom-color: #cccccc;
}

.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
  
    max-width: 960px; /* 2 */
  
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
  }

body {
    background-image: url("paper.gif");
}

p {
    float: left;
    padding-right: 50px;
}

h1 {
    font-size: 30px;
    
}


h2 {    
    text-align: center;
    text-decoration: underline;
    font-color: #4aaaa5;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fffff;
}

li {
    display: inline-block;

    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4aaaa5;
}

.active {
    background-color: #4aaaa5;
}


section {
    height: 0px;
    margin: auto;
    padding: 25px;
    border: #dddddd;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 50px;
    border-top-color: #4aaaa5;
    font-size: 10px;
 }

 .container {
    position: relative;
    width: 100%;
    text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4aaaa5;
  color: white;
  font-size: 20px;
  font-style: italic;
  padding: 16px 32px;
}

h3 {
    font-style: initial;
    font-size: 8px;
    text-align: right;
}

/* Style the header */
.header {
    padding: 10px 16px;
    background: #fff;
    color: #f1f1f1;
    border-bottom:210px;
    border-bottom-color: #4aaaa5;
    
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container2 {
    border-radius: 5px;
    background-color: #4aaaa5;
    padding: 20px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Portfolio Content */
.content2 {
    background-color: white;
    padding: 10px;
}
  
.column {
    float: left;
    width: 60%; 

}


h4 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background:  #4aaaa5;
    padding: 4px 8px;
    color: white;
    margin: 0;
    font: 14px Sans-Serif;
  }
  
  .module {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://bootcamp.rutgers.edu/wp-content/uploads/sites/28/2017/01/rutgers-logo.png);
    background-size: cover;
    position: relative;
  }
  
  .module2 {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/877/s300/rutgers-codingbootcamps.png);
    background-size: cover;
    position: relative;
  }
  
  .module3 {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://mir-s3-cdn-cf.behance.net/projects/202/b2366a43179851.Y3JvcCw0MDUsMzE3LDg5LDA.png);
    background-size: cover;
    position: relative;
  }
  
  
  .module4 {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(http://www.pngmart.com/files/4/Moon-PNG-Image.png);
    background-size: cover;
    position: relative;
  }
  
  .module5 {
    margin: 10px;
    width: 230px;
    height: 150px;
    float: left;
    background: url(https://cdn.pixabay.com/photo/2014/09/03/05/11/matrix-434037__340.png);
    background-size: cover;
    position: relative;
  }

  @media screen and {max-width: 980px}
  @media screen and {max-width: 768px}
  @media screen and {max-width: 640px}